[submodule "gcc"]
	path = external/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "external/binutils-gdb"]
	path = external/binutils-gdb
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "external/glibc"]
	path = external/glibc
	url = https://sourceware.org/git/glibc.git
[submodule "external/linux"]
	path = external/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
